@font-face
	font-family 'Merriweather'
	font-style normal
	font-weight normal
	src url('../fonts/merriweather-regular-webfont.woff2') format('woff2'), url('../fonts/merriweather-regular-webfont.woff') format('woff')

@font-face
	font-family 'Merriweather'
	font-style normal
	font-weight bold
	src url('../fonts/merriweather-bold-webfont.woff2') format('woff2'), url('../fonts/merriweather-bold-webfont.woff') format('woff')

@font-face
	font-family 'Merriweather'
	font-style italic
	font-weight normal
	src url('../fonts/merriweather-italic-webfont.woff2') format('woff2'), url('../fonts/merriweather-italic-webfont.woff') format('woff')

@font-face
	font-family 'Merriweather'
	font-style normal
	font-weight lighter
	src url('../fonts/merriweather-light-webfont.woff2') format('woff2'), url('../fonts/merriweather-light-webfont.woff') format('woff')

@font-face
	font-family 'Quicksand'
	font-style normal
	font-weight bold
	src url('../fonts/quicksand-bold-webfont.woff2') format('woff2'), url('../fonts/quicksand-bold-webfont.woff') format('woff')

@font-face
	font-family 'Quicksand'
	font-style normal
	font-weight lighter
	src url('../fonts/quicksand-light-webfont.woff2') format('woff2'), url('../fonts/quicksand-light-webfont.woff') format('woff')

@font-face
	font-family 'Quicksand'
	font-style normal
	font-weight 500
	src url('../fonts/quicksand-medium-webfont.woff2') format('woff2'), url('../fonts/quicksand-medium-webfont.woff') format('woff')

@font-face
	font-family 'Quicksand'
	font-style normal
	font-weight normal
	src url('../fonts/quicksand-regular-webfont.woff2') format('woff2'), url('../fonts/quicksand-regular-webfont.woff') format('woff')

$fonts-websafe-sanserif = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$fonts-mono = Menlo, Monaco, Courier, 'Courier New', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace
$fonts-css3-sanserif = 'Quicksand', $fonts-websafe-sanserif
$fonts-css3-serif = 'Merriweather', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif
