{% set title="Home" %}
{% include "partials/_head.njk" %}
{% include "partials/_header.njk" %}

	<div class="main">
		<main role="main">
			<div class="index__grid">
				<article>
					<figure>
						<a href="http://epvisual.com" target="_blank">
							<picture>
								<source media="(min-width: 30em)" srcset="images/thumb-epvisual-lg.svg">
								<img src="images/thumb-epvisual-sm.svg" alt="EP Visual Design">
							</picture>
						</a>
						<figcaption class="visually-hidden">EP Visual Design</figcaption>
					</figure>
					<h2><a href="http://epvisual.com" target="_blank">EP Visual Design</a></h2>
					<p>This is where I work. Our team builds everything: websites, applications, training courses, videos, animations, and more.</p>
				</article>

				{{ projectGrid | safe }}

			</div>
		</main>
	</div>

{% include "partials/_footer.njk" %}