@require '../../node_modules/stylus-normalize/normalize.styl'
@require 'global/_fonts'
@require 'global/_color'
@require 'global/_global'
@require 'global/_type'
@require 'components/_header'
@require 'components/_main'
@require 'components/_nav'
@require 'components/_index'