{% extends "standard.njk" %}

{% block content %}
  <div class="article">
    <article>
      <div class="hero"></div>
      <div class="container">
        <h1>Drexel University Interactive Digital Media</h1>
        <p>Drexel&apos;s Interactive Digital Media program is growing almost as quickly as the industry. We work to make the program as cutting edge as possible. Our updated curriculum offers opportunities to learn all aspects of an excited, ever evolving, very exciting topic. Courses that I am directly involved with include:</p>
        <ul>
          <li><a href="https://github.com/philsinatra/IDM100" target="_blank">IDM100: Intro to Web Development</a></li>
          <li><a href="https://github.com/philsinatra/IDM221" target="_blank">IDM221: Web Design I</a></li>
          <li><a href="https://github.com/philsinatra/IDM222" target="_blank">IDM222: Web Design II</a></li>
          <li><a href="https://github.com/philsinatra/IDM231" target="_blank">IDM231: Scripting for Interactive Digital Media I</a></li>
          <li><a href="https://github.com/philsinatra/IDM232" target="_blank">IDM232: Scripting for Interactive Digital Media II</a></li>
          <li>IDM240: Interactive Graphics</li>
          <li>IDM250: Content Management Systems</li>
        </ul>
        <p>Full details about all the undergraduate, graduate and minor options are available on the <a href="http://drexel.edu/westphal/academics/undergraduate/WBDV/" target="_blank">Westphal College of Media Arts &amp; Design</a> website.</p>
      </div>
    </article>
  </div>
{% endblock %}